@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,  'Satisfy', cursive;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  left:0;
  right:0;
  bottom: 0;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background: black;
  z-index:1 
}

.bannerBar{
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
  top: 0;
  width: 100%;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  
  background: #fe2d56;

  z-index:1 
}

.searchBar{
  margin: auto;
}

.bannerBar > div{
  width: 33%;
  align-self: center;
  text-align: center;
  line-height: 100px;
}

.banner{
  position: relative;
  font-family: 'Alegreya Sans SC', sans-serif;
  top: 0;
  width: 100%;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
  background: #fe2d56;

    box-shadow: 5px 5px transparent,
    2px 2px transparent, 
    2px 2px transparent, 
    2px 2px transparent, 
    2px 2px transparent,
    2px 2px 2px gray;

  z-index:1 
}
.banner-2{
  margin-top: -1px;
  position: relative;
  width: 100%;
  top: 0;
  font-size: 90%;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  text-align: center;
  background: #fe2d56;
  z-index:1 
}

.banner-3{
  margin-top: -18.6px;
  
  width: 100%;
  font-size: 140%;
  font-family: 'Didact Gothic', sans-serif;

  color: black;
  text-align: center;

  background: #fe2d56;
}

.banner-4{
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  top: 0;
  left:0;
  right:0;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
  background: #fe2d56;
  z-index:1 
}

.page{
  height: 100%;
  width: 100%;
  text-align: center;
}

.app{
  position: relative;
  width: 100%;
  height: 100%;
}

#root{
  height: 100%;
  width: 100%;
  overflow: auto;
}

.stream {
  margin: auto;
  margin-top: 45px;
  margin-bottom: 45px;
  object-fit: cover;
  width: 70%;
  text-align: center;

}

.stream2 {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 23.5%;
  object-fit: cover;
  width: 50%;
  text-align: center;
}

.Info{
  width: 100%;
  height: 80%;
}

.hidden{
  display: none;
}

.movie{
  object-fit: cover;
  width: 90%;
  text-align: center;
  padding: 5%;
}

.profile {
  margin-top: 45px;
}

.streams-list {
  text-align: center;
  display: grid;
  margin-top: 45px;
  
  top: 0;
  bottom: 0;
  width: 100%;
  
  grid-template-columns: 30% 30% 30%;
   
  justify-content: center;
  align-items: center;
}

.streams-list-2 {
  text-align: center;
  display: grid;
  height: auto;
  padding-right: 10vw;
  padding-left: 10vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  grid-template-columns: 30% 30% 30%;
   
  justify-content: center;
  align-items: center;
}


.true{
  width: 12vw;
}

.switch{
  border-style: inset;
  background: white;
}

.false{
    width: 12vw;
    border-style: outset;
    background: lightgray;
    opacity: 0.4;
    filter: alpha(opacity=40);
}


.done-button{
  margin-bottom: 5% !important;
}

.searchBackground{
  width: inherit;
  position: fixed;
  background: linear-gradient(
45deg
, black, transparent);
  right: 10px;
  height: -webkit-fill-available;
}

.search-list {
  overflow: auto;
  position: static;
  text-align: center;
  display: grid;
  right: 0;
  height: 86%;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.movie-list {
  text-align: center;
  display: grid;
  top: 0;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-items: center;
}

.movie-card{
  margin: 0%;
  text-align: center;
  background: gainsboro;
  min-height: 200px;
  max-height: 200px;
  width: 120px;
  border-style: solid;
  border-width: .5px;
  border-color: darkgray;
  justify-content: center;
  align-items: center;
  height: -webkit-fill-available;
  overflow: hidden;

  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: 100%; 

}

.title{
  color:black;
  position: static;
  font-size: 1.3em;
  background: white;
  height: 100%;
  margin-top: 15% !important;
  margin: 7%;
}

.stream-name{
  display: table;
  background: inherit;
  width: 100%;
  height: 100%;
  color: white;
}

/*  streaming backgrounds  */

.netflix{
  background: #e50916;
  
}
.hulu{
 background: #19e784;
}
.hbo{
  background: #9319e5;
}
.disney{
  background: #9aedf6;
}
.showtime{
  background: #ff0102;
}
.prime{
  background: #00a9e2;
}
.apple{
  background: silver;
}
.epix{
  background: #cbae63;
}
.starz{
  background: black;
}
.max{
  background: #fab80f;
}
.dc{
  background: #017af0;
}
.cbs{
  background:  #f7d506;
}
.tnt{
  background: #f76301;
}
.tbs{
  background: #0091d1;
}
.amc{
  background: #b09d56;
}
.shudder{
  background: #c30304;
}
.fx{
  background: #315069;
}
.ifc{
  background: #dc422e;
}
.syfy{
  background: #502370;
}
.peacock{
  background: linear-gradient(90deg,#f4b111,#ec6d1f, #114590,#615da5,
  #0385c9,#0dab48);
}
.paramount{
  background: #114590;
}

/*  streaming backgrounds  */

.show_Movie {
  text-align: center;
  width: 100%;
  height: 80%;
  background: linear-gradient(#fe2d56,white, white);
}

.selected_Movie{
  margin-top: 5px;
  text-align:  center;
  width: 55%;
  max-width: 300px;
}

.greeting{
  margin-top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
}

.Card3d{
  width: 50%;
  margin: auto;  
}
.highlight{
  box-shadow: 5px 5px transparent,
  4px 4px transparent, 
  3px 3px transparent, 
  2px 2px transparent, 
  1px 1px transparent,
  6px 6px 6px gray;
}

/***************** mobile screen homepage *****************/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  .home{
    position: absolute;
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    background-size: 50% 30%;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .home-col{
    position: absolute;
    color: rgba(255,255,255,0.001) 0%;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.001) 0%,white,black);

  }
  .home-col-2{
    position: absolute;
    margin-left: 50%;
    width: 50%;
    height: 100%;    
    font-size: 80%;
    text-align: center;
    background: linear-gradient(white,white,black);
  }

  .player{
    width: 80%;
  }

  .banner-2{
    margin-top: -2px;
  }
  .banner-3{
    margin-top: -19.6px;
  }  
}

/***************** larger screens homepage *****************/
@media only screen and (min-device-width: 1100px) {
  .home{
    height: 94%;
    left: 0;
    right:0;
    top: 0;
    bottom: 0;
    background-size: 360px 230px;
    position: absolute;
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .home-col{
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.001) 0%,white,black);

  }
  .home-col-2{
    font-size: 150%;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(white,white,black);

  }
  .player{
    width: 53vw;
    height: 28vw;
  }

}

/***************** footer buttons *****************/
.homeButton{
  cursor: pointer;
}

.profileButton{
  cursor: pointer;
}

.logoutButton{
  cursor: pointer;
}

.streamsButton{
  cursor: pointer;
}
/***************** scroll bar *****************/

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}
   