@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif,  'Satisfy', cursive;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0;
    padding: 0;
    overflow: auto;
    width: 100%;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.footer{
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  left:0;
  right:0;
  bottom: 0;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  background: black;
  z-index:1 
}
.banner{
  position: fixed;
  font-family: 'Alegreya Sans SC', sans-serif;
  top: 0;
  left:0;
  right:0;
  font-size: 150%;
  color: white;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  
  background: #fe2d56;
  z-index:1 
}
.banner-2{
  margin-top: 29px;
  position: fixed;
  left:0;
  right:0;
  top: 0;
  font-size: 90%;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  text-align: center;
  background: #fe2d56;
  z-index:1 
}

.banner-3{
  margin-top: 27.4px;
  
  width: 100%;
  font-size: 115%;
  font-family: 'Didact Gothic', sans-serif;

  color: black;
  text-align: center;

  background: #fe2d56;
}

.page{
  height: 100%;
  width: 100%;
  text-align: center;
}

.app{
  position: relative;
  width: 100%;
  height: 100%;
}

.root{
  height: 100%;
  width: 100%;
  overflow: auto;
}

.stream {
  margin-top: 45px;
  margin-bottom: 45px;
  object-fit: cover;
  width: 70%;
  text-align: center;

}

.stream2 {
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: 23.5%;
  object-fit: cover;
  width: 50%;
  text-align: center;
}

.Info{
  width: 100%;
  height: 80%;
}

.movie{
  object-fit: cover;
  width: 90%;
  text-align: center;
  padding-left: 5%;
}

.profile {
  margin-top: 45px;
}

.streams-list {
  text-align: center;
  display: grid;
  margin-top: 45px;
  
  top: 0;
  bottom: 0;
  width: 100%;
  
  grid-template-columns: 30% 30% 30%;
   
  justify-content: center;
  align-items: center;
}

.streams-list-2 {
  text-align: center;
  display: grid;
  margin-top: 45px;
  margin-left: 5%;
  
  top: 0;
  bottom: 0;
  margin-bottom: 10%;
  width: 100%;
  
  grid-template-columns: 30% 30% 30%;
   
  justify-content: center;
  align-items: center;
}

.done-button{
  margin-bottom: 10%;
}

.movie-list {
  text-align: center;
  display: grid;
  top: 0;
  bottom: 0;
  margin-top: 60px;
  height: 100%;
  width: 100%;
  
  grid-template-columns: 24% 24% 24% 24%;
  justify-content: center;
  align-items: center;
}

.show_Movie {
  text-align: center;
  width: 100%;
  height: 80%;
  background: linear-gradient(#fe2d56,white, white);
}

.selected_Movie{
  margin-top: 5px;
  text-align:  center;
  width: 55%
}

.greeting{
  margin-top: 100px;
  left: 0;
  right: 0;
  text-align: center;
  position: fixed;
}

/***************** mobile screen homepage *****************/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
  .home{
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    background-size: 50% 75%;
    margin-top: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .home-col{
    position: relative;
    color: rgba(255,255,255,0.001) 0%;
    width: 100%;
    height: 200%;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.001) 0%,white,black);

  }
  .home-col-2{
    position: relative;
    width: 100%;
    height: 200%;    
    font-size: 80%;
    text-align: center;
    background: linear-gradient(white,white,black);
  }

  .player{
    width: 80%;
  }
}

/***************** larger screens homepage *****************/
@media only screen and (min-device-width: 1100px) {
  .home{
    left: 0;
    right:0;
    background-size: 360px 230px;
    position: absolute;
    margin-top: 50px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .home-col{
    width: 100%;
    height: 147.2%;
    text-align: center;
    background: linear-gradient(transparent,white,black);

  }
  .home-col-2{
    font-size: 150%;
    width: 100%;
    height: 147.2%;
    text-align: center;
    background: linear-gradient(white,white,black);

  }
  .player{
    width: 40%;
  }

}

/***************** footer buttons *****************/
.homeButton{
  cursor: pointer;
}

.profileButton{
  cursor: pointer;
}

.logoutButton{
  cursor: pointer;
}

.streamsButton{
  cursor: pointer;
}
/***************** scroll bar *****************/

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track-piece
{
    background-color: transparent;
    -webkit-border-radius: 6px;
}
   